<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<add key="MonoSign" value="https://pkgs.dev.azure.com/monoforinc/_packaging/monosign/nuget/v3/index.json" protocolVersion="3" />
		<add key="MonoFor" value="https://www.myget.org/F/monofor/api/v3/index.json" />
		<add key="Monotify" value="https://www.myget.org/F/monotify/api/v3/index.json" />
	</packageSources>
</configuration>